---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import image from "../assets/gallery/exterior/foto_6.jpg";
import { CabinRental } from "@/components/cabin-rental";
---

<Layout title="Welcome to Astro.">
  <main>
    <CabinRental client:load />
    <!-- <section class="h-96 relative">
      <Image src={image} alt="Hero image" class="object-cover w-full h-full" />
      <div
        class="absolute top-0 left-0 h-full w-full flex justify-center items-center"
      >
        <div class="border p-1 flex justify-center flex-col items-center gap-4">
          <h1 class="text-7xl text-white">ALFREDES</h1>
          <p class="text-white">
            Donde el silcencio solo es interrumpido por el cantar de los pajaros
          </p>
        </div>
      </div>
    </section>
    <section class="h-96 relative">
      <h2 class="text-4xl text-white">section 2</h2>
    </section>
    <section class="h-96 relative">
      <h2 class="text-4xl text-white">section 3</h2>
    </section>
    <section class="h-96 relative">
      <h2 class="text-4xl text-white">section 4</h2>
    </section> -->
  </main>
</Layout>
