---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { ImageGallery } from "@/components/image-gallery";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Bienvenido 🇦🇷</h1>

    <ImageGallery client:load />
  </main>
</Layout>
